html, body {
  margin: 0;
  padding: 0;
  background: #fafafa;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed';
}

a, a:visited {
  color: #2196F3;
  text-decoration: none;
}
